body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    height: 220px;
    width: 400px;
}

.foodName{
    font-weight: bold;
    color: lightblue;
}

.price{
    margin-top: 10px;
}

.restaurantHeader{
	margin-top: 80px;
	font-size: 45px;
	color: lightblue;
}

.restaurantContent{
	margin-top: -50px;
}

.restaurantSearchBox{
	height: 30px;
	width: 400px;
	margin-left: 500px;
	margin-top: 50px;
	font-size: 14px;
	border-radius: 5px;
}

.restaurantItemsSearchIMG{
	bottom: -10px;
	height: 30px;
	width: 30px;
}

.restaurantButtons{
	background-color: white;
	color: lightblue;
	border-radius: 5px;
	border-color: lightblue;
	height: 50px;
	width: 200px;
	font-size: 18px;
	margin-left: 50px;
}

.restaurantButtons:hover{
	cursor: pointer;
}

.restaurantButtons:hover{
	background-color: lightblue;
	color: white;
}

.restaurantButtonsGroup{
	margin-left: 300px;
	margin-top: 60px;
}

.restaurantItemGroup{
    margin-top: -70px;
    margin-left: -30px;
}

.restaurantOrdersIMG{
	height: 23px;
	width: 23px;
}

.restaurantCustomersIMG{
	height: 28px;
	width: 28px;
}

.restaurantAddItemIMG{
	height: 28px;
	width: 28px;
}

.restaurantItem{
    margin-left: 50px;
    margin-top: 100px;
    float: left;
    border-style: solid;
    border-width: 3px;
    border-color: lightblue;
    padding: 5px;
    border-radius: 5px;
}

.restaurantItemHR{
	color: lightblue;
}

.restaurantItem:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.addRestaurantItem{
	position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.addRestaurantItemComponents{
	width: 30%;
	height: 100%;
	background-color: white; 
	margin-left: 550px;
	border-color: black;
	border-radius: 10px;
}

.orderItemComponents{
	width: 30%;
	height: 300%;
	background-color: white; 
	margin-left: 550px;
	border-color: black;
	border-radius: 10px;
}



.restaurantItemLabels{
	position: relative;
	left: 70px;
}

.restaurantItemInput{
	margin-top:5px;
	position: relative;
	height: 30px;
	font-size: 12px;
	width: 300px;
	left: 70px;
	border-radius: 5px;
}

.addRestaurantHeader{
	position: relative;
	font-size: 30px;
	margin-left: 20px;
	top: -5px;
}

.addRestaurantItemClose,
.addRestaurantItemClose {
	position: relative;
  	color: lightblue;
  	font-size: 40px;
  	text-decoration: none;
  	cursor: pointer;
  	margin-left: 400px;
}

.restaurantItemButtons{
	margin-top:10px;
	position: relative;
	height: 35px;
	font-size: 14px;
	width: 300px;
	left: 70px;
	border-radius: 5px;
	background-color: lightblue;
	color: white;
	bottom: 15px;
}

.restaurantItemButtons:hover{
	cursor: pointer;
}

.restaurantItemImage:hover{
	cursor: pointer;
}

.addButton{
	background-color: white;
	color: lightblue;
	margin-left: -270px;
	margin-top: 70px;
	border-radius: 5px;
	border-color: lightblue;
	height: 50px;
	width: 50px;
}

.addButton:hover{
	background-color: lightblue;
	color: white;
	cursor: pointer;
}

.detailsButton{
	background-color: white;
	color: lightblue;
	border-radius: 5px;
	border-color: lightblue;
	height: 50px;
	width: 400px;
	font-size: 18px;
	margin-left: 30px;
}

.detailsButton:hover{
	background-color: lightblue;
	color: white;
	cursor: pointer;
}



.restaurantHeaderInOrders{
	margin-top: 150px;
}

.deleteImg{
	position: absolute;
	height: 30px;
	width: 30px;
	margin-top: -15px;
	margin-left: -15px;
}

.addrestaurantItemImage{
	margin-top:10px;
	position: relative;
	height: 50px;
	font-size: 16px;
	width: 50px;
	left: 70px;
	border-radius: 5px;
	background-color: white;
	color: black;
}

.editRestaurantItem{
	position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.editRestaurantItemComponents{
	width: 30%;
	height: 100%;
	background-color: white; 
	margin-left: 550px;
	border-color: black;
	border-radius: 10px;
}

.editRestaurantItemClose{
	position: relative;
  	color: lightblue;
  	font-size: 40px;
  	text-decoration: none;
  	cursor: pointer;
  	margin-left: 400px;
}

.editRestaurantItemHeader{
	position: relative;
	font-size: 30px;
	margin-left: 100px;
	top: -5px;
}

.editRestaurantItemLabel{
	position: relative;
	left: 70px;
}

.editRestaurantItemInput{
	margin-top:5px;
	position: relative;
	height: 30px;
	font-size: 12px;
	width: 300px;
	left: 70px;
	border-radius: 5px;
}

.editRestaurantItemButtons{
	margin-top: 80px;
}

.editRestaurantItemButton{
	margin-top:20px;
	position: relative;
	height: 35px;
	font-size: 14px;
	width: 300px;
	left: 70px;
	border-radius: 5px;
	background-color: lightblue;
	color: white;
	bottom: 15px;
}

.editRestaurantItemButton:hover{
	cursor: pointer;
}

div.restaurantHeaderProfil{
	position:relative;
	left:520px;
	bottom:50px;
}

.profileModal{
	position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.profileModalComponents{
	width: 30%;
	height: 100%;
	margin-left: 500px;
	border-style: solid;
    border-width: 3px;
    border-color: lightblue;
    padding: 5px;
    border-radius: 5px;
	margin-top: 100px;
}

.profileModalClose{
	position: relative;
  	color: lightblue;
  	font-size: 40px;
  	text-decoration: none;
  	cursor: pointer;
  	margin-left: 400px;
}

.profileModalHeader{
	position: relative;
	font-size: 30px;
	margin-left: 170px;
	top: -5px;
}

.profileModalLabel{
	position: relative;
	left: 70px;
}

.profileModalInput{
	margin-top:5px;
	position: relative;
	height: 30px;
	font-size: 12px;
	width: 300px;
	left: 70px;
	border-radius: 5px;
}

.profileModalButton{
	margin-top:20px;
	position: relative;
	height: 35px;
	font-size: 14px;
	width: 300px;
	left: 70px;
	border-radius: 5px;
	background-color: white;
	color: lightnlue;
	bottom: 15px;
}

.profileModalButton:hover{
	cursor: pointer;
}

.ordersGroup{
	margin-top: 70px;
}

.orderHeader{
	margin-top: 100px;
}

.restaurantOrders{
	width: 80%;
	margin-left: 70px;
	margin-top: 30px;
}

.orderTableButton{
	height: 30px;
	width: 30px;
	background: white;
	border-color: white;
	margin-left: 5px;
}

.orderTableButton:hover{
	cursor: pointer;
}

.orderTableImage{
	height: 30px;
	width: 30px;
	margin-top: -3px;
	margin-left: -7px;
}

.orderHeaderModal{
	margin-top: 0px;
	margin-left: 60px;
}

.orderLabel{
	color: lightblue;
	font-size: 18px;
	margin-left: 100px;
}

.orderDetail{
	margin-left: 150px;
	color: black;
	margin-top:20px;
}

.orderButton{
	height: 30px;
	width: 30px;
	background: white;
	border-color: white;
	margin-left: 150px;
}

.orderButton:hover{
	cursor:pointer;
	border-color: lightblue;
}

.orderImage{
	height: 25px;
	width: 25px;
	margin-top: -5px;
	margin-left: -5px;
}

.requestButton{
	height: 30px;
	width: 30px;
	background: white;
	border-color: white;
	margin-left: 20px;
}

.requestButton:hover{
	cursor:pointer;
	border-color: lightblue;
}

.requestImage{
	height: 25px;
	width: 25px;
	margin-top: -5px;
	margin-left: -5px;
}

.requestButtonGroup{
	margin-left: 300px;
}

.requestLabels{
	margin-top:50px;
}

.managerComments{
	margin-left: 50px;
    margin-top: 100px;
    float: left;
    border-style: solid;
    border-width: 3px;
    border-color: lightblue;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
}

.commentButton{
	height: 30px;
	width: 30px;
	background: white;
	border-color: white;
	height: 30px;
	width: 30px;
	background: white;
	border-color: white;
}

.commentButton:hover{
	cursor: pointer;
}

.deleteRestaurantButton{
	height: 35px;
	width: 35px;
	background: white;
	border-radius: 5px;
	margin-left: 50px;
	border-color: lightblue;
}

.deleteRestaurantButton:hover{
	cursor: pointer;
	background: lightblue;
}

.deleteButton{
	height: 35px;
	width: 35px;
	background: white;
	border-radius: 5px;
	margin-left: 250px;
	border-color: lightblue;
}

.deleteButton:hover{
	cursor: pointer;
	background: lightblue;
}